<div ng-controller="dynamicSelectController" class="form-group {{form.htmlClass}}"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
    <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">{{form.title}}</label>

    <div class="form-group {{form.fieldHtmlClass}}" ng-init="populateTitleMap(form)">
    
        <div 
           ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
    
            <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>    
        
            <button type="button" class="btn btn-default" sf-changed="form" schema-validate="form" ng-model="$$value$$"
                    data-placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select')}}"
                    data-html="1"
                    data-multiple="1"  data-multiple="1" data-max-length="{{form.options.inlineMaxLength}}"
                    data-max-length-html="{{form.options.inlineMaxLengthHtml}}"
                    bs-options="item.value as item.name for item in form.titleMap | selectFilter:this:$$value$$:&quot;$$value$$&quot;"
                    bs-select>
            </button>
            
            <span ng-if="form.fieldAddonRight"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonRight"></span>        
        
        </div>
        
        <span class="help-block">{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
    </div>
</div>
